@import "./variables/cover-variables";

.cover {
  height: 100vh;
  &__info {
    min-height: 100%;
    display: flex;
    align-items: start;
    padding-top: 2rem;
  }
  &__text {
    max-width: 40%;
    padding: 40px;
    // min-height: 100%;
    .cover__title {
      font-size: 48px;
      font-weight: 400;
      text-transform: uppercase;
    }
    .cover__description {
      // color: $color;
      font-size: 16px;
      margin-top: 5px;
    }
  }
  &__container {
    position: relative;
    background-size: cover;
    background-position: top;
    // height: 60vh;
    min-height: 100%;
    z-index: 10;
  }
}
