$color-title: #e22222d5;
$background: #3b3838;

$react-color: #5ccfee;
$sass-color: #fa28d7;
$html-color: #ec6130;
$css-color: #31a1fd;
$js-color: #ead41c;

$github-color: #8f409d;
$linkedin-color: #026eaa;
